body {
  background: url(img/background/literature.jpg);
  background-attachment: fixed;
  background-size: cover;
}

p {
    text-align: justify;
    text-justify: inter-word;
    font-size: 1.1em;
}

.ajuste li a {
  margin-left: 25px;
  margin-top: 25px;
  margin-right: 25px;
  font-size: 1.2em;
}

.citacao {
  font-family: 'Shadows Into Light', cursive;
  font-size: 2.4em;
  padding-bottom: 20px;
  padding-top: 20px;

}

.identar {
  margin-left: 2px;
}

#logo {
  margin-left: 25px;
  margin-top: 20px;
}

#faixa {
  margin-top: 60vh;
  padding: 5vh;
}

#faixa-inferior{
  margin-top: 30vh;
}
