body {
  background: url(img/background/literature.jpg);
  background-attachment: fixed;
  background-size: cover;
}

p {
  text-align: justify;
  text-justify: inter-word;
  font-size: 1.1em;
}

footer {
  margin-top: 40vh;
}

.ajuste li a {
  margin-left: 25px;
  margin-top: 25px;
  margin-right: 25px;
  font-size: 1.2em;
}

.citacao {
  font-family: 'Shadows Into Light', cursive;
  font-size: 2em;
  padding-bottom: 5px;
  padding-top: 5px;

}

.identar {
  margin-left: 2px;
}

#logo {
  margin-left: 25px;
  margin-top: 20px;
}

#faixa {
  margin-top: 60vh;
  padding: 5vh;
}


