body {
  background-image: url('img/background/typewriter.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* row white da home */
#bloco-1 {
  height: 80%;
  padding-top: 10%;
  padding-bottom: 7%;
  margin-top: 75%;
  margin-bottom: 55%;
}
